:root {
    --spacing-100: .25rem;
    --spacing-200: .5rem;
    --spacing-300: 1rem;
    --spacing-400: 1.25rem;
    --spacing-500: 1.5rem;
    --spacing-600: 2rem;
    --spacing-700: 3rem;
    --spacing-800: 5rem;
    --spacing-900: 7rem;

    --spacing-flex: 7vmin;
}