@mixin heading-large {
    font-size: clamp(2.5rem, 5vw, 4rem);
    font-weight: 700;
    line-height: 1.1;
}

@mixin heading-medium {
    font-size: clamp(2rem, 3vw, 2.25rem);
    font-weight: 400;
    line-height: 1.4;
}

@mixin heading-small {
    font-size: clamp(1.25rem, 3vw, 1.5rem);
    font-weight: 400;
    line-height: 1.5;
}

@mixin body {
    font-size: clamp(1rem, 3vw, 1.25rem);
    font-weight: 400;
    line-height: 1.6;
}