@import "base/animations";
@import "base/themes";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: "Jost", sans-serif;
	color: var(--grey-800);
	background: var(--grey-0);
}

.visually-hidden {
	@include visually-hidden;
}

::selection {
	background-color: var(--primary);
	color: white;
}

h1,
h2,
h3,
h4,
h5,
h6,
a {
	&::selection,
	::selection {
		background-color: var(--secondary);
	}
}
