@import 'base/animations';

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
}

body {
    font-family: 'Jost', sans-serif;    
}

::selection {
    background-color: var(--primary);
    color: white;
}

h1, h2, h3, h4, h5, h6, a {
    &::selection {
        background-color: var(--secondary);
    }
}