@mixin link {
    color: inherit;
    text-decoration: none;
    background-image: linear-gradient(120deg, currentColor, currentColor);
    background-repeat: no-repeat;
    background-size: 100% 2px;
    background-position: 0 90%;

    &:hover {
        animation: 1s link-cycle infinite linear;
    }
}